.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
}

h1, h3 {
    color: #333;

}

h3 {
    font-weight: normal;
}



input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    
}

button {
    width: 105%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    
}

#message {
    color: red;
    font-weight: bold;
}